.article-card{
    background: black;
    border-radius: 5px;
}
.article-card img{
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
}
.description-card{
    background: #18181a;
    width: 150px;
    border-radius: 5px;
}
.description-card p{
    padding: 10px;
}